.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

#navbar {
  overflow: hidden;
  width: 100%;
  /*background-color: #F0F0F0;*/
  opacity: 0.6;
}

#navbar a {
  float: left;
  display: block;
  color: #3C3C3C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: green;
}

#navbar a.active {
  background-color: #166B9C;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

@media (max-width: 800px) {
  .navbar-header {
    background-color: white;
  }
  nav.navbar {
    border: 0px;
  }
}

header {
	width:100%; 
	background-color: #365568; 
	padding: 1px;
	margin: 0;
	color: white
}

footer {
	background-color: none;
	padding: 5px 1px;
	text-align: center;
	color: gray;
}

/* Create two equal columns that floats next to each other */
.columnL {
  float: left;
  width: 60%;
  padding: 20px;
 /* height: 300px;  Should be removed. Only for demonstration */
}
.columnR {
  float: left;
  width: 40%;
  padding: 20px;
  text-align: center;
 /* height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
 }

 .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
 }

 .tooltip:hover .tooltiptext {
   visibility: visible;
 }